* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background-color: black;
}

nav {
  padding: 10px 90px;
  /* background-color: rgb(147, 205, 157); */
}

nav ul,
nav a,
nav ul li,
.spacer {
  display: inline-block;
}
nav > ul > li > a {
  color: #fff;
  font-size: 20px;
  padding: 40px 20px;
}

.spacer {
  /* Parent width - Logo width - Menu <ul> width */
  width: calc(100% - 160px - 650px);
}

nav > a {
  vertical-align: middle;
}

header {
  height: 650px;
  background-color: rgb(44, 86, 51);
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

.featured-in-container {
  margin-top: 50px;
}

.featured-in-title {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.featured-brands-container {
  margin: 0px 50px 100px 50px;
  background-color: #c19393;
}

.partners-container {
  padding: 0px 145px;
  text-align: center;
  margin-bottom: 50px;
}

.partners-left,
.partners-right {
  display: inline-block;
  vertical-align: top;
}

.partners-left {
  margin-right: 30px;
}
.partners-right {
  align-self: center;
}

.partners-title {
  color: #00a84f;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.partners-heading {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.partners-row {
  padding-bottom: 20px;
}
.partners-column {
  display: inline-block;
  vertical-align: top;
  padding: 0px 20px;
}
.partner-img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
.partner-name-text {
  margin-top: 8px;
  color: #fff;
  font-size: 16px;
}

.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.section-main-header {
  font-size: 40px;
  color: white;
}
.section-sub-header {
  font-size: 23px;
  color: white;
  margin-top: 10px;
}

.celebrity-mindsets-container {
  text-align: center;
  margin-bottom: 150px;
}
.celebrity-card-list-row {
  margin-bottom: 10px;
}
.celebrity-card-list-item {
  display: inline-block;
  position: relative;
  border-radius: 50px;
  width: 150px;
  height: 225px;
  margin: 0px 5px;
}
.celebrity-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.celebrity-card-name-text {
  position: absolute;
  bottom: 40px;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}
.celebrity-card-episode-text {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: white;
  font-size: 14px;
  background-color: transparent;
}

.what-is-mindset-container {
  padding: 0px 145px;
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}

.explanation-main-header {
  color: #00a84f;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 20px;
}
.explanation-sub-header-paragraph {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
}

.what-is-mindset-left,
.what-is-mindset-right {
  flex: 1;
}

.what-is-mindset-left {
  padding-top: 30px;
  padding-right: 150px;
}

.mindset-features-container {
  display: flex;
  flex-direction: row;
  padding: 0px 200px;
  margin-bottom: 80px;
}

.left-pic-container {
  margin-right: 40px;
}
.right-feature-container {
}

.division {
  width: 100%;
  height: 1.5px;
  background-color: #313131;
}

.mockup-container {
  display: flex;
  padding: 30px 200px;
}
.mockup-img-phone {
  width: 265px;
  height: 538px;
}
.mockup-img-labtop {
  width: 400px;
  height: 350px;
}

.mockup-container-text-part {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
}
.mockup-container-img-part {
  display: flex;
  flex: 1;
}

.try-free-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 200px;
  padding-top: 60px;
  padding-bottom: 150px;
}
.try-free-mockup-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.try-free-mockup {
  margin: 0px 15px;
}

.review-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 200px;
  gap: 15px;
}
.review-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 350px;
  border-radius: 15px;
  background-color: #ebebeb;
  padding: 25px;
  padding-top: 20px;
}
.star-container {
  margin-bottom: 10px;
  background-color: #ebebeb;
}
.star {
  width: 15px;
  height: 15px;
  margin-right: 7px;
  background-color: #ebebeb;
}
.review-title {
  color: #000;
  font-size: 20px;
  background-color: #ebebeb;
  margin-bottom: 10px;
  font-weight: bold;
}
.review-content {
  color: #245046;
  font-size: 14px;
  background-color: #ebebeb;
  line-height: 25px;
}
.reviewer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebeb;
  position: absolute;
  bottom: 20px;
}
.reviewer-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.reviewer-name {
  color: #000;
  font-size: 20px;
  color: #245046;
  margin-left: 12px;
  background-color: #ebebeb;
  font-weight: bold;
}

footer {
  height: 500px;
}
