* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background-color: black;
}

nav {
  padding: 10px 90px;
  /* background-color: rgb(147, 205, 157); */
}

nav ul,
nav a,
nav ul li,
.spacer {
  display: inline-block;
}
nav > ul > li > a {
  color: #fff;
  font-size: 20px;
  padding: 40px 20px;
}

.spacer {
  /* Parent width - Logo width - Menu <ul> width */
  width: calc(100% - 160px - 650px);
}

nav > a {
  vertical-align: middle;
}
